.Camera {
    position: absolute;
    top: 42px;
    width: 100vw;
    height: 378px;
    overflow: hidden;
}
.Camera video {
    position: absolute;
    transform: translate(-18.3%);
    height: 378px;
    z-index: 1;
}

.CanvasWrapper {
    position: absolute;
    width: 100vw;
    display: flex;
    justify-content: center;
    z-index: 2;
}

.Camera canvas {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    height: 378px;
    z-index: 2;
}

.canvasFile {
    position: absolute;
    /* left: 50%;
    transform: translate(-50%); */
    height: 366px;
    z-index: 2;
}

.CanvasWrapperOk {
    position: absolute;
    display: flex;
    height: 366px;
    justify-content: center;
    background: black;
    z-index: 2;
}

.againPicBtn {
    font-family: "display-bold";
    color: white;
    position: absolute;
    top: 445px;
    margin-left: 60px;
    background-color: transparent;
    border: none;
    z-index: 4;
}
.sendPicBtn {
    font-family: "display-bold";
    color: white;
    position: absolute;
    top: 445px;
    margin-left: 180px;
    background-color: transparent;
    border: none;
    z-index: 4;
}
.captPicBtn {
    
    position: absolute;
    top: 415px;
    margin-left: 75px;
    background-color: transparent;
    border: none;
    z-index: 4;

}
.baseCam1 {
    position: absolute;
    top: 417px;
    z-index: 3;
}

.basecam2 {
    position: absolute;
    top: calc(417px + 24px);
    z-index: 3;
}

.uploadBtn {
    z-index: 9999;
    position: absolute;
}

label, label img {
    z-index: 3;
    width: 40px;
    position: absolute;
}
.loading {
    position: absolute;
    width: 100vw;
    margin-top: 70px;
}