.container {
    position: fixed;
    z-index: 9999999;
    width: 100vw;
    height: 100vh;
    bottom: 60px;
    left: 0;
    background: #0007;
    
}

.filters {
    background-color: white;
        position: absolute;
        width: 100%;
        bottom: 0;
        /* y todo tu css */
}
.Activated {
    background: #c5f0eb;
    border-radius: 8px;

}

.respiratoryLogo {
    position: relative;
    margin-top: 20px;
    margin-left: 20px;
    width: 40px;
}
.childrenLogo {
    position: relative;
    margin-top: 20px;
    margin-left: 20px;
    width: 40px;
}

.sportLogo {
    position: relative;
    margin-top: 20px;
    margin-left: 20px;
    width: 40px;
}
.FilterBtn {
        position:relative;
        border-radius: 8px;
        border: none;
        width: 280px;
        height: 52px;
        color: white;
        margin-left: 20px;
        margin-bottom: 20px;
        font-size: 14px;
        background: linear-gradient(94.94deg, #428DFF -64.71%, rgba(255, 255, 255, 0) 107.07%), #00CACE;
    
}
.checkIcon {
    position: absolute;
    margin-left: 220px;
    margin-top: 20px;
}
.sportText {
    font-family: "display-regular";
    position: absolute;
    margin-left: 80px;
    margin-top: -35px;
    color: #132968;
}
.childrenText {
    font-family: "display-regular";
    position: absolute;
    margin-left: 80px;
    margin-top: -35px;
    color: #132968;

}
.respiratoryText {
    font-family: "display-regular";
    position: absolute;
    margin-left: 80px;
    margin-top: -35px;
    color: #132968;

}