.Bottom{
    position: fixed;
    height: 60px;
    bottom: 0;
    background-color: white;
    flex-direction: row;
    box-shadow: -5px -10px 18px #888888;
}
.HomeLogo{
    position: absolute;
    width: 35px;
    margin-left: 30px;
    margin-top: 18px;
}
.AdvicesLogo{
    position: absolute;
    width: 35px;
    margin-left: 100px;
    margin-top: 15px;
}
.ProfileLogo{
    position: absolute;
    width: 30px;
    margin-left: 185px;
    margin-top: 13px;
}
.CameraLogo{
    position: absolute;
    width: 40px;
    margin-left: 260px;
    margin-top: 12px;
}
