.ErrorInCredentials{
    font-family: "display-regular";
    color: #132968;
    background: #e208082f;
    border: 1px solid #8d1818;
    box-shadow: 0px 6px 20px rgba(241, 21, 21, 0.25);
    border-radius: 8px;
    padding: 5px 20px 5px 20px;
    font-family: "display-regular";
    font-style: italic;
    font-weight: bold;
    font-size: 12px;
    margin: 10px 5px 10px 5px;
    line-height: 18px;
    letter-spacing: 1.2px;
    text-align: center;


}

.WarningInCredentials{
    color: #132968;
    background: #8ea6e7;
    border: 1px solid #132968;
    box-shadow: 0px 6px 20px rgba(102, 122, 168, 0.25);
    border-radius: 8px;
    padding: 5px 20px 5px 20px;
    font-family: "display-regular";
    font-style: italic;
    font-weight: bold;
    font-size: 12px;
    margin: 0px 5px 10px 5px;
    line-height: 18px;
    letter-spacing: 1.2px;
    text-align: center;
}

.ErrorInCredentialsList{
    transform: translateX(-20px);
    text-align: left;
}
/* Esto es lo que pone tu email y tu contraseña */
label{
    font-family: "display-regular";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    color: #132968;
    margin-bottom: 10px;
}
/* Esto son los agujeros para meter usuario y psw */
input {
}::placeholder{
    font-family: "display-regular";
    font-size: 14px;
    letter-spacing: 1px;
    color:#132968;
}
.ErrorInput{
    font-family: "display-regular";
    background: #8da7f0;
    border: 1px solid #292b8d;
    color: #ffffff;

}


.forgotPsw{
    position: absolute;
    color: #132968;
    font-family: "display-regular";
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    letter-spacing: 0.01em;
    line-height: 140%;
    margin-top: 390px;
    margin-left: 82px;
    text-decoration: none;
    text-align: center;
    background: none;
    border: none;
    outline: none;
}
.loginBtn {
    font-family: "display-regular";
    position:absolute;
    border-radius: 8px;
    border: none;
    width: 280px;
    height: 52px;
    color: white;
    font-size: 14px;
    margin-top: 320px;
    margin-left: 20px;
    background: linear-gradient(94.94deg, #428DFF -64.71%, rgba(255, 255, 255, 0) 107.07%), #00CACE;
}
.titleEmail {
    font-family: "display-bold";
    position: absolute;
    margin-top: 200px;
    margin-left: 20px;
    font-size: 12px;

}
.titlePassword {
    font-family: "display-regular";
    position: absolute;
    margin-top: 255px;
    margin-left: 20px;
    font-size: 12px;

}
.eyeIcon {
    position: absolute;
    margin-top: 200px;
    margin-left: 270px;
    width: 30px;

}
.checkIcon {
    position: absolute;
    margin-top: 255px;
    margin-left: 270px;
    width: 30px;

}
.ConnectSocial {
    font-family: "display-regular";
    position: absolute;
    margin-top: 450px;
    margin-left: 50px;
    color: #B6C5D1;

}
.facebook {
    position: absolute;
    border: none;
    margin-top: 480px;
    margin-left: 90px;
    width: 30px;

}
.google {
    position: absolute;
    border: none;
    margin-top: 480px;
    margin-left: 170px;
    width: 30px;

}
.LoginLogo {
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
    width: 60px;
}
.titleLogin {
    font-family: "display-bold";
    position: absolute;
    margin-top: 70px;
    margin-left: 8px;
    font-size: 40px;
    color: #132968;
}
.inputEmail {
    font-family: "display-regular";
    position: absolute;
    background: transparent;
    border: none;
    padding: 15px 15px 15px 47px;
    margin-top: 205px;
    margin-left: -25px;
    outline: none;
    font-size: 17px;
    color:#132968;

}
.inputPsw {
    font-family: "display-regular";
    position: absolute;
    background: transparent;
    border: none;
    padding: 15px 15px 15px 47px;
    margin-top: 265px;
    margin-left: -27px;
    outline: none;
    font-size: 17px;
    color:#132968;
}
.googlebtn {
    border: none;
}