.background {
    position: absolute;
}
.backBtn {
    position: absolute;
    border: none;
    z-index: 999999;
    background-color: transparent;
    margin-top: 50px;
}
.info {
    position: absolute;
    margin-top: 170px;
    box-shadow: -5px -3px 18px #888888;
}
.certificate {
    position: absolute;
    margin-top: 260px;
    margin-left: 60px;
}
.efic {
    position: absolute;
    margin-top: 400px;
    margin-left: 60px;
}
.container {
    box-shadow: -5px -3px 18px #888888;
}